streamlit
transformers
langchain-community
huggingface-hub
sentence-transformers==2.2.2
torch==1.13.1
faiss-cpu
pypdf
spacy
spacy_streamlit
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0.tar.gz
